
@{
    ViewBag.Title = "Exclusao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Exclusão de Clientes</h3>
<a href="/Cliente/Consulta">Voltar</a> para a página de consulta.
<hr />

<h4>@ViewBag.Mensagem</h4>