
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    
</head>
<body class="container">

    <div class="card bg-light"> 
        <h2>Projeto Controle de Clientes</h2>
        Asp.Net MVC e ADO.Net EntiyFramework
    </div>
    <br />
    <div class="col-md-12">
        @RenderBody()
    </div>

</body>
</html>
